{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        ["prismjs", {
          "languages": ["shell", "bash", "shell-session", "sh-session", "shellsession"],
          "plugins": ["line-numbers"],
          "theme": "okaidia"
        }]
      ]
    }
  }
}
