// functions (so we can manipulate colors, SVGs, calc, etc)
// from documentation https://getbootstrap.com/docs/5.2/customize/sass/
@import "../../node_modules/bootstrap/scss/functions";

// utils
@import "utils/variables";

// base
@import "base/body";

// layouts
@import "layouts/sidebar";

 // vendors
//  @import "vendors/bootstrap";

// components
@import "components/alert";
@import "components/button";
@import "components/container";
@import "components/dashboard";
@import "components/modal";
@import "components/select";
@import "components/table";
@import "components/textarea";
@import "components/vertical-timeline";