.alerticon {
    // border: 1px solid;
    // padding: 5px;
    box-shadow: 5px 10px 18px #c0c0c0;
    bottom: 3%;
    right: 2%;
    font-size:14px;
    z-index:10000;
    position: fixed;
}

// .alertborder {
//     border-width: 100px;
//     border-color: aliceblue;
// }


