.jobs-description-container {
    font-size: 15px;
}

.jobs-counter, .jobs-running, .jobs-status, .jobs-scheduled {
    background-color: #1c8a74;
    border-radius: 2px;
}

.job-status {
    width: 100% !important;
}

.script-textarea:disabled {
    background-color: #1c8a74;
    font-size: 13px;
    color: whitesmoke;
    width: 100%;
}

pre .code.hljs {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    height: 100%;
    width: 100%;
    overflow-wrap: break-word !important;
}

.server-div {
    background-color: #121722;
}

.server-card:hover {
    border-color: #1c8a74;
    border-width: 3px;
    border-style: solid;   
}

.server-count, .server-count-btn {
    border-radius: 2px;
}

.server-card-active {
    background-color: #1c8a74;
    border-radius: 2px;
    border-width: 0px;
}

.job-info-dashboard {
    height: 90;
    // overflow-y: auto;
}


html, body, .main-content, .content, .sidebar {
    height: 100vh !important;
}

.server-div {
    height: 100vh !important;
    overflow-y: auto;
}

.server-card {
    min-height: fit-content;
    overflow-y: auto;
}