.container-table-job {
    text-align-last: left;
    margin-left: 0;
}

.table-job > tbody {
    text-align-last: left;
    max-width: 600px;
}

.table-borderless  tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: 0;
    font-weight: 500;
    color: white;
}

.header-title {
    color: white;
    padding: 0;
    margin: 0;
    line-height: 80%;
}

.nav-name {
    color: white;
    padding-top: 2px;
}

.main-content {
    height: 977px;
    background-color: #2F343F;

    .card-body {
        margin: 0px;
        padding: 0px;
    }
    
}


@media screen and (max-width: 820px) {
    .main-content {
        width: 100%;
        min-height: 700px;
        max-height: 969px;

        background-color: #2F343F;

        .card-body {
            margin: 0px;
            padding: 0px;
        }
    }

}

.bords {
    border-width: 2px;
    border-color: green;
    border-style: solid;
    margin-right: auto;
    margin-left: 0px;
}

.header-page-title {
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}



// .create-job {
//     justify-content: flex-end;
//     display: flex;
//     margin-bottom: 5px;
//     padding-right: 22px;
// }

.jobs-content {
    margin: 10px;
    padding: 10px;
}

.jobs-table {
    margin: 50px;
    padding: 10px;
    border-radius: 2px;
    background-color: #1e917a
}

.table-borderless {
    padding-top: 10px;
    padding: 15px;
}

.table-borderless::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #F5F5F5;
	background-color: #1e917a6a;
    border-radius: 10px;
}

.table-borderless::-webkit-scrollbar
{
	width: 6px;
	background-color: #1e917a6a;
    border-radius: 10px;

}

.table-borderless::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
    border-radius: 10px;

}

.thead-colorless {
    background-color: #1e917a !important;
    color: white !important;
    text-transform: uppercase !important;
    padding-top: 10px;
    margin-top: 10px;
}

.jobs-table-command {
    font-weight: 500;
    color: white;
}

.jobs-table-top {
    margin-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    border-bottom: .5px solid #1c8a74;
}

.icon-update-script {
    height: 12 !important;
    width: 12 !important;
    padding-bottom: 1px !important;
}

.badge {
    color: #98e228;
}

.table.b-table.b-table-stacked > tbody > tr > td, .table.b-table.b-table-stacked > tbody > tr > th {
    color: white;
}


// dropdown


.dropdown-menu {
    border-radius: 2px;
    background-color: #1c8a74;
    font-size: 14px;
    padding: 0;
    
    .dropdown-item {
        color: white;
    }

    .dropdown-item:hover {
        background-color: #1c4842;
        font-weight: solid;
    }
}

// input search
input#input-search.form-control {
    margin: 0px;
    padding: 0px;
    background-color: #1e917a;
    font-size: 14px;
}

input#input-search.form-control::placeholder {
    color: #bee7de;
    margin-top: 30px;
}

input#input-search.form-control:focus {
    border-bottom: .5px solid #1c8a74;
    border-radius: 0px;
}

select#per-page-select.custom-select.custom-select-sm {
    -webkit-appearance: none;
}


.bottomlabel{
    color: gray; 
    font-size: 11px;
  }

  .page-link, .page-item, .pagination-sm {  
    background-color: #bee7de ;
    color: #1c8a74;
    font-weight: 500;
    border-width: 0px; 
    transition: background-color .3s;
    
  } 

  .page-item.active .page-link {
    color: #1c8a74;
    font-weight: 500;
  }

  .page-item:focus {
    outline: none;
  }

  span.page-link, li.page-item, .disable {
    background-color: transparent !important;
    border-width: 0px;
    border-radius: 30%;
  }

  li.page-item, button.page-link {
    background-color: transparent !important;
    border-width: 0px;
    border-radius: 30%;
  }

  button.page-link:active {
    outline: none;
    border: none;
  }

  button.page-link:focus {
    outline: none;
    border: none;
  }

//   li.page-item .disabled {
//     background-color: transparent !important;
//   }

//   button.page-link {
//     background-color: white;
//     color: #1c8a74;
//     font-weight: 500;
//     border-radius: 50% !important;
//   }
//   .page-item .page-link {
//     color: #1e917a;
//     background-color: #bee7de;  
//   }

//   .page-link {
//     color: #1e917a;
//   }
  
