.container-table-job {
    text-align-last: left;
    margin-left: 0;
}

.table-job > tbody {
    text-align-last: left;
    max-width: 600px;
}

// .firstcol {
//     border: solid;
//     border-width: 1px;
//     border-color: blueviolet;
// }
